export EDITOR=vim
export PAGER="less -R"

shopt -s histappend
shopt -s checkwinsize

export HISTCONTROL=ignoreboth
export HISTIGNORE='ls:bg:fg:history'
export HISTTIMEFORMAT='%F %T '
export HISTCONTROL=ignoreboth
export HISTIGNORE='ls:bg:fg:history'
export HISTTIMEFORMAT='%F %T '

alias ll="ls -l"
alias lt="ls -ltr"
alias la="ls -la"
alias vi="vim"

{% if virtualenvwrapper_path is defined %}
export WORKON_HOME={{ virtualenvwrapper_path }}
source /usr/local/bin/virtualenvwrapper.sh
{% endif %}
