[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  rb = rebase
  rbi = rebase --interactive
  au = add --update
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
	name = "Doug Reynolds"
	email = douglas.j.reynolds@gmail.com
